body {
    background-color: #efefef;
}
.main {
    background-color: white;
    margin: 35px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .nav {
    margin-top: 30px;
}

.img-size {
    width: 40px;
}

.user-name {
    margin-top: 10px;
}

.btn-comment {
    float: right;
    margin-bottom: 15px;
}

.comment-section {
    margin: 15px;
}

.border-bottom {
    margin-top: 0px;
    padding: 15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eee;
}

.border-top {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(254, 246, 247);
}
.menu {
    color: #999;
    margin-top: 5px;
}
.menu .icon {
    font-size: 15px;
    padding-right: 6px;
}
.menu .icon:hover{
    color: #2aabd2;
}
.comment-divide {
    margin-bottom: 0px;
}