body {
    background-color: #efefef;
}
.main {
    background-color: white;
    margin: 35px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .nav {
    margin-top: 30px;
}

.img-size {
    width: 40px;
}

.user-name {
    margin-top: 10px;
}

.btn-comment {
    float: right;
    margin-bottom: 15px;
}

.comment-section {
    margin: 15px;
}