body {
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 35px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .nav {
    margin-top: 30px;
}

.img-size {
    width: 40px;
}

.user-name {
    margin-top: 10px;
}

.btn-comment {
    float: right;
    margin-bottom: 15px;
}

.comment-section {
    margin: 15px;
}

.border-bottom {
    margin-top: 0px;
    padding: 15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eee;
}

.border-top {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(254, 246, 247);
}

.border-tag-publish {
    width: 26%;
    display: none;
    border-radius: 6px;
    padding: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #337ab7;
}

.tag-publish {
    margin-top: 10px;
    margin-right: 6px;
}

.menu {
    color: #999;
    margin-top: 5px;
}

.menu .active {
    color: #2aabd2;
}

.menu .icon {
    font-size: 15px;
    padding-right: 6px;
}

.menu .icon:hover {
    color: #2aabd2;
}

.menu .time {
    float: right;
}

.comment-divide {
    margin-bottom: 0px;
}

.deploy {
    margin: 15px 0px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #eee;
}

.form-deploy {
    margin-top: 10px;
}

.btn-deploy {
    margin: 10px 0;
}

.toolbox-list {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    padding-inline-start: 0px
}

.toolbox-list .tool-item {
    padding: 9px 8px 4px 8px;
    background: #f5f6f7;
    font-size: 14px;
    font-weight: 500;
    margin-right: 8px;
}

.toolbox-list .tool-active {
    box-sizing: border-box;
}

.toolbox-list .tool-active:hover {
    background: #96ccec;
}

.tag {
    margin-right: 6px;
}

.label-info {
    margin-right: 6px;
    margin-bottom: 5px;
    display: inline-block;
    white-space: normal;
    background-color: #5bc0de;
}
.related-question {
    line-height: 30px;
}

.img-width {
    width: 40%;
}

.new-line {
    white-space: pre
}
